<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="tailwind.css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gloria+Hallelujah&display=swap"
            rel="stylesheet"
        />
        <style>
            #main-element {
                width: 740px;
                height: 740px;
                padding-top: 70px;
            }

            #card {
                width: 450px;
                height: 600px;
                box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.8);
            }

            .emboss {
                text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3), -1px -2px 1px rgba(255, 255, 255, 0.3);
            }
        </style>
    </head>

    <body class="bg-gray-500 font-caveat">
        <div id="main-element" class="bg-gradient-to-bl from-gray-800 to-black mx-auto">
            <div id="card" class="card bg-white mx-auto rounded-xl text-center ">
                <p class="text-center text-white text-3xl mx-auto pt-3 emboss">MEMBER CARD</p>
                <div class="text-center mt-8">
                    <img id="doodle" class="text-center inline-block" src="../pfp/0000000000010000.png" width="300px" />
                </div>
                
                <p class="text-white mx-auto emboss text-4xl subpixel-antialiased">UNDERFITTED SOCIAL CLUB</p>
                <p class="text-white mx-auto text-3xl emboss subpixel-antialiased">Founding membership</p>
                <p class="text-xl text-white mt-2 subpixel-antialiased" style="font-family: 'Courier New', Courier, monospace">EST 2021. <span id="number">120</span> of 1000</p>
                <p id="color" class="text-gray-800 mt-6 ml-8 mr-8 subpixel-antialiased pt-2 pb-2" style="font-family: 'Courier New', Courier, monospace; font-size: 18px; background-color: bisque;">0xff1232</p>
                <p id="rare" class="text-sm text-white mt-1 subpixel-antialiased hidden" style="font-family: 'Courier New', Courier, monospace">A tribute to Fidenza</p>
            </div>
        </div>

        <script>
            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());

            document.getElementById(
                "card"
            ).style.background = `linear-gradient(${params.rotategrad}deg, #${params.color1} 0%, #${params.color2} 50%, #${params.color3} 100%)`;

            if (params.rare != "") {
                document.getElementById("rare").innerHTML = `(${params.rare.replace(/_/g, "#")})`;
                document.getElementById('rare').classList.remove('hidden')
                document.getElementById("doodle").src = `../rare/${params.doodle}`;
            }
            else {
                document.getElementById('rare').classList.add('hidden')
                document.getElementById("doodle").src = `../pfp/${params.doodle}`;
            }

            document.getElementById("number").innerHTML = `${params.number}`;
            document.getElementById("color").innerHTML = `0x${params.color1}${params.color2}${params.color3}`;
        </script>
    </body>
</html>
